<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
</head>
<body>
<h1>Maintenance mode</h1>
<h2>This website is in maintenance mode. Sorry for any inconvenience.</h2>
{{> footer}}
</body>
</html>